{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}

<h1 class="text-center">Contact us</h1>

<div class="container" style="margin-top:50px ;">
    <div class="row align-items-start">
      <div class="col-lg-3">
        <h4>Contact</h4>
      </div>
      <div class="col-lg-3">
        <h4>Send-Email</h4>
      </div>
      <div class="col-lg-3">
        <h4>Office Address</h4>
      </div>
      <div class="col-lg-3">
        <h4>Office Time</h4>
      </div>
    </div>
    
</div>



{% endblock content %}